<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    </style>
</head>
<body>


    <h3>Welcome {{name}}</h3>
    <h4>Your activity table is : </h4>
 <table>
    <tr>
       <td>Operation</td>
        <td>Added on</td>
    </tr>
    {% for user_activitie in user_activities %}
    <tr>
        <td>{{ user_activitie.operation }}</td>
        <td>{{ user_activitie.added_on }}</td>
    </tr>
    {% endfor %}
</table>
    
</body>
</html>